*{
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  
}
.main{
  display:block;
  width:100vw;
  background-color:#022d55 ;

}
/* .icewidth{
  display:block;
  width:100%;
} */

.toppart{
  background-image: url("assets/icetopbg.jpg");
  background-size: contain;
  width:100%;
  height:20vh
}
  .content{
  background-color:#022d55 ;
  width:100%;
  height:60vh;

} 

.bottompart{
  background-image: url("assets/icebottombg.jpg");
  background-size: contain;
  width:100%;
  height:20vh;
}
.mainbox{
  display:flex;
  justify-content:space-evenly;
} 
.box{
  height: 300px;
  width:250px;
  background-color: cornsilk;
  border-color: aqua;
}



