@font-face {
  font-family: 'Snowice';
  src: local('Snowice'), url(./fonts/SNOWICE.ttf) format('truetype');
}


*{
  margin:0px;
  padding:0px; 
}
.main{
  display:block;
  width:100vw;
  background-color:#022d55 ;

}

.toppart{
  background-image: url("assets/icetopbg.jpg");
  background-size: contain;
  width:100%;
  height:20vh;
}

.icewidth {
  width: 100%;
  height: 20vh;
}

.events-heading {
  color: white;
  font-size: 7rem;
  font-weight: bold;
  font-family: 'Haettenschweiler'  ;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
  font-family: "Snowice", sans-serif;
}


.content{
  background-color:#022d55 ;
  width:100%;
} 

.bottompart{
  background-image: url("assets/icebottombg.jpg");
  background-size: contain;
  width:100%;
  height:20vh;
}
.mainbox{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:60px;
  margin-inline: 100px;
} 
.box{
  height: 350px;
  width:300px;
  background-color: #539cc9;
  border-radius: 25px;
  box-shadow: 7px 7px lightblue;
  filter: drop-shadow(0px 0px 8px rgb(166, 217, 235));
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:all 0.9s;
  gap:5px;
  
}
.poster{
  height:260px;
  width:260px;
 
}
button{
  width:80px;
  height:30px;
  background-color:lightblue;
  border-radius: 10px;
}
 .box:hover{
  transform: scale(110%);
} 
.box:hover>.poster{
  height:220px;
  width:220px;

}
.box>h2{
  display:none;
}
.box>h3{
  display:none;
}
.box>button{
  display:none;
}
.box:hover>h2{
  display:block;
}
.box:hover>h3{
  display:block;
}
.box:hover>button{
  display:block;
}



